

/* CHATBOX
=============== */
.chatbox {
    position: absolute;
    top: 100px;
    right: 30px;
}

/* CONTENT IS CLOSE */
.chatbox_overview {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 300px;
    height: 350px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
    overflow: auto; /* macht scrollbar. overflow: scroll; funktioniert auch */
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(+40px);
    z-index: 123456;
    opacity: 1;

}

/* BUTTON */
.chatbox_toggle {
    text-align: right;
}


/* HEADER */
.chatbox__header {
    position: sticky;
    top: 0;
    background: #01588d;
}

/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    color:#fff;
    background: #01588d;
    max-width: 60.6%;
    width: fit-content;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
    position: sticky;
    top: 0;
}
