<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/index.css">
  <title>Annoncen einsehen</title>
</head>
<body>
  <div class="navbarContainer" id="navBar">
    <ul>
      <li><a href="/home" th:href="@{/home}">Homepage</a></li>
      <li><a href="/annonceErstellen" th:href="@{/annonceErstellen}">Annonce erstellen</a></li>
      <li><a href="/annonceEinsehen" th:href="@{/annonceEinsehen}">Annonce einsehen</a></li>
    </ul>
  </div>

  <div class="content" id="content">
    <p>Hier Feld einfügen in dem alle Einträge für Annoncen aus der Datenbank ausgelesen und ausgegeben werden.</p>
  </div>
</body>
</html>