<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/index.css">
  <title>Annoncen einsehen</title>
</head>
<body>
<div class="navbarContainer" id="navBar">
  <ul>
    <li><a href="/home" th:href="@{/home}">Homepage</a></li>
    <li><a href="/annonceErstellen" th:href="@{/annonceErstellen}">Annonce erstellen</a></li>
    <li><a href="/annonceErstellenNeu" th:href="@{/annonceErstellenNeu}">Annonce erstellen neu</a></li>
    <li><a href="/annonceEinsehen" th:href="@{/annonceEinsehen}">Annonce einsehen</a></li>
    <li><a href="/vorlesungsubersicht" th:href="@{/vorlesungsubersicht}">Vorlesungsübersicht</a></li>
    <li><a href="/vorlesungsubersichterstellen" th:href="@{/vorlesungsubersichterstellen}">Vorlesungsübersichterstellen</a></li>
  </ul>
</div>


  <form th:action = "@{/addannonce}" th:object="${annonce}" method = "post">
    <label for="vorlName">Vorlesung</label>
    <input type="text" th:field="*{vorlName}" id="vorlName" placeholder="Vorlesung">
    <span th:if="${#fields.hasErrors('vorlName')}" th:errors="*{vorlName}"></span>
    <label for="choice">Choice</label>
    <input type="text" th:field="*{choice}" id="choice" placeholder="Choice">
    <span th:if="${#fields.hasErrors('choice')}" th:errors="*{choice}"></span>
    <label for="kontakt">Kontakt</label>
    <input type="text" th:field="*{kontakt}" id="kontakt" placeholder="Kontakt">
    <span th:if="${#fields.hasErrors('kontakt')}" th:errors="*{kontakt}"></span>
    <label for="nachricht">Nachricht</label>
    <input type="text" th:field="*{nachricht}" id="nachricht" placeholder="Nachricht">
    <span th:if="${#fields.hasErrors('nachricht')}" th:errors="*{nachricht}"></span>
    <input type="submit" value="Annonce erstellen">
  </form>
<div class="content" id="content">
</div>
</body>
</html>