<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/index.css" rel="stylesheet">
    <script src="/js/jq.js"></script>
    <title>Annoncen einsehen</title>
</head>
<body>
<div class="navbarContainer" id="navBar">
    <ul>
        <li><a href="/home" th:href="@{/home}">Homepage</a></li>
        <li><a href="/annonceErstellen" th:href="@{/annonceErstellen}">Annonce erstellen</a></li>
        <li><a href="/annonceErstellenNeu" th:href="@{/annonceErstellenNeu}">Annonce erstellen neu</a></li>
        <li><a href="/annonceEinsehen" th:href="@{/annonceEinsehen}">Annonce einsehen</a></li>
        <li><a href="/vorlesungsubersicht" th:href="@{/vorlesungsubersicht}">Vorlesungsübersicht</a></li>
        <li><a href="/vorlesungsubersichterstellen" th:href="@{/vorlesungsubersichterstellen}">Vorlesungsübersichterstellen</a>
        </li>
    </ul>
</div>
<div th:switch="${vorlesungsubersicht1}">
    <!--  <h2 th:case="null">Keine Annoncen bisher</h2>-->
    <!--  <div th:case="*"><p th:text="${vorlesungsubersicht1}"></p> -->


    <form method="post" th:action="@{/addannonce}" th:object="${annonce}">
        <label for="vorlName">Vorlesung</label>
        <input id="vorlName" placeholder="Vorlesung" th:case="null" th:field="*{vorlName}" th:value="vorlName1"
               type="text">
        <input id="vorlName" name="vorlName" th:case="*" th:value="${vorlesungsubersicht1}" type="text">
        <span th:errors="*{vorlName}" th:if="${#fields.hasErrors('vorlName')}"></span>
        <label for="choice">Choice</label>
        <input id="choice" placeholder="Choice" th:field="*{choice}" type="text">
        <span th:errors="*{choice}" th:if="${#fields.hasErrors('choice')}"></span>
        <label for="kontakt">Kontakt</label>
        <input id="kontakt" placeholder="Kontakt" th:field="*{kontakt}" type="text">
        <span th:errors="*{kontakt}" th:if="${#fields.hasErrors('kontakt')}"></span>
        <label for="nachricht">Nachricht</label>
        <input id="nachricht" placeholder="Nachricht" th:field="*{nachricht}" type="text">
        <span th:errors="*{nachricht}" th:if="${#fields.hasErrors('nachricht')}"></span>
        <input type="submit" value="Annonce erstellen">
    </form>


    <div class="content" id="content">
    </div>
</body>
</html>