<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/index.css">
  <title>Annoncen einsehen</title>
</head>
<body>
  <div class="navbarContainer" id="navBar">
    <ul>
      <li><a href="/home" th:href="@{/home}">Homepage</a></li>
      <li><a href="/annonceErstellen" th:href="@{/annonceErstellen}">Annonce erstellen</a></li>
      <li><a href="/annonceEinsehen" th:href="@{/annonceEinsehen}">Annonce einsehen</a></li>
    </ul>
  </div>

  <div class="content" id="content">
    <div th:switch="${annoncen}">
      <h2 th:case="null">Keine Annoncen bisher</h2>
      <div th:case="*">
        <h2>Users</h2>
        <table>
          <thead>
          <tr>
            <th>Annonce ID</th>
            <th>Vorlesung</th>
            <th>Choice</th>
            <th>Kontakt</th>
            <th>Nachricht</th>
            <th>Datum</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="annonce : ${annoncen}">
            <td class="annonceID" th:text="${annonce.annonceId}"></td>
            <td class="vorlName" th:text="${annonce.vorlName}"></td>
            <td class="choice" th:text="${annonce.choice}"></td>
            <td class="kontakt" th:text="${annonce.kontakt}"></td>
            <td class="nachricht" th:text="${annonce.nachricht}"></td>
            <td class="datum" th:text="${annonce.datum}"></td>
          </tr>
          </tbody>
        </table>
      </div>
      <p><a th:href="@{/annonceErstellen}">Neue Annonce erstellen</a></p>
    </div>
  </div>
</body>
</html>