<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/index.css">
  <title>Homepage</title>
</head>
<body>

  <div class="navbarContainer" id="navBar">
    <ul>
      <li><a href="/home" th:href="@{/home}">Startseite</a></li>
      <li><a href="/annonceErstellen" th:href="@{/annonceErstellen}">Annonce erstellen</a></li>
      <li><a href="/annonceEinsehen" th:href="@{/annonceEinsehen}">Annoncen einsehen</a></li>
      <li><a href="/meineAnnoncen" th:href="@{/meineAnnoncen}">Meine Annoncen</a></li>
      <li><a href="/vorlesungsubersicht" th:href="@{/vorlesungsubersicht}">Vorlesungen</a></li>
      <li><a href="/vorlesungsubersichterstellen" th:href="@{/vorlesungsubersichterstellen}">Vorlesung hinzufügen</a>
    </ul>
  </div>

  <div class="content" id="content">
    <h1>Willkommen bei LearngroupTU!</h1>
    <p>Hier kannst du KommilitonInnen für deine Vorlesungen und Übungen finden. Findet euch zusammen in Lern- oder Übungsgruppen.</p>
    <p>Über die Navigationsleiste kannst du bei "Annonce erstellen" eine Annonce aufgeben, über "Annonce einsehen" die Gesuche
    deiner KommilitonInnen finden, über "Vorlesungsübersicht" kannst du die vorhandenen Vorlesungen finden und Annoncen für diese erstellen.
    Außerdem kannst du unter "Vorlesung erstellen" Vorlesungen, die noch nicht in der Übersicht sind, hinzufügen.</p>
    <p><!--style="background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red)"-->Viel Spaß!</p>
  </div>

</body>
</html>