<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/annonceErstellen.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <title>vorlesung erstellen</title>
</head>
<body>
<div class="navbarContainer" id="navBar">
    <ul>
        <li><a href="/home" th:href="@{/home}">Homepage</a></li>
        <li><a href="/annonceErstellen" th:href="@{/annonceErstellen}">Annonce erstellen</a></li>
        <li><a href="/annonceErstellenNeu" th:href="@{/annonceErstellenNeu}">Annonce erstellen neu</a></li>
        <li><a href="/annonceEinsehen" th:href="@{/annonceEinsehen}">Annonce einsehen</a></li>
        <li><a href="/vorlesungsubersicht" th:href="@{/vorlesungsubersicht}">Vorlesungsübersicht</a></li>
        <li><a href="/vorlesungsubersichterstellen" th:href="@{/vorlesungsubersichterstellen}">Vorlesungsübersichterstellen</a>
        </li>
    </ul>
</div>
<div class="container" id="content">
    <h2>Vorlesung erstellen</h2>
    <div class="container" id="container">

        <div class="form-container sign-in-container">
            <form method="post" th:action="@{/vorlesungadd}" th:object="${vorlesung}">
                <label for="kursnr">kursnr</label>
                <input id="kursnr" placeholder="kursnr" th:field="*{kursnr}" type="text">
                <span th:errors="*{kursnr}" th:if="${#fields.hasErrors('kursnr')}"></span>
                <label for="cp">cp</label>
                <input id="cp" placeholder="cp" th:field="*{cp}" type="text">
                <span th:errors="*{cp}" th:if="${#fields.hasErrors('cp')}"></span>
                <label for="studiengang">studiengang</label>
                <input id="studiengang" placeholder="studiengang" th:field="*{studiengang}" type="text">
                <span th:errors="*{studiengang}" th:if="${#fields.hasErrors('studiengang')}"></span>
                <label for="titel">titel</label>
                <input id="titel" placeholder="titel" th:field="*{titel}" type="text">
                <span th:errors="*{titel}" th:if="${#fields.hasErrors('titel')}"></span>
                <input type="submit" value="Vorlesung erstellen">
            </form>
        </div>
    </div>
</div>
</body>
</html>