<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/annonceErstellen.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <title>vorlesung erstellen</title>
</head>
<body>
<div class="navbarContainer" id="navBar">
    <ul>
        <li><a href="/home" th:href="@{/home}">Startseite</a></li>
        <li><a href="/annonceErstellen" th:href="@{/annonceErstellen}">Annonce erstellen</a></li>
        <li><a href="/annonceEinsehen" th:href="@{/annonceEinsehen}">Annoncen einsehen</a></li>
        <li><a href="/vorlesungsubersicht" th:href="@{/vorlesungsubersicht}">Vorlesungen</a></li>
        <li><a href="/vorlesungsubersichterstellen" th:href="@{/vorlesungsubersichterstellen}">Vorlesung hinzufügen</a>
    </ul>
</div>
<div class="container" id="content">
    <h2>Vorlesung erstellen</h2>
    <div class="container" id="container">

        <div class="form-container sign-in-container">
            <form method="post" th:action="@{/vorlesungadd}" th:object="${vorlesung}">
                <label for="titel">Titel</label>
                <input id="titel" placeholder="Titel" th:field="*{titel}" type="text" required="true">
                <span th:errors="*{titel}" th:if="${#fields.hasErrors('titel')}"></span>

                <label for="kursnr">Kursnummer</label>
                <input id="kursnr" placeholder="Kursnummer" th:field="*{kursnr}" type="text" required="true">
                <span th:errors="*{kursnr}" th:if="${#fields.hasErrors('kursnr')}"></span>

                <label for="studiengang">Studiengang</label>
                <input id="studiengang" placeholder="Studiengang" th:field="*{studiengang}" type="text" required="true">
                <span th:errors="*{studiengang}" th:if="${#fields.hasErrors('studiengang')}"></span>

                <label for="cp">CP</label>
                <input id="cp" placeholder="CP" th:field="*{cp}" type="text" required="true">
                <span th:errors="*{cp}" th:if="${#fields.hasErrors('cp')}"></span>


                <input id="button1" type="submit" value="Vorlesung erstellen">
            </form>
        </div>
    </div>
</div>
</body>
</html>